* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}
* a {
    text-decoration: none;
    color: rgb(59, 59, 59);
}
* a:hover {
    color: rgb(59, 59, 59, 0.70);
}
body {
    background-color:rgb(241, 241, 241);
}
/* footer */
footer {
    background-color: rgb(182, 182, 182);
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    color: rgb(59, 59, 59);
    padding: 12px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer p {
    padding: 3px 0;
}
footer a {
    color: rgb(59, 59, 59);
}
footer a:hover {
    color: rgb(59, 59, 59, 0.45);
}
footer a:visited {
    color: rgba(255,255,255,0.45);
}
/* home body */
.center-piece {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
}
.center-piece img {
    display: block;
    margin: auto;
}
.container-header-menu {
    display: flex;
    padding: 35px 50px 35px 20px;
    justify-content: space-between;
}
.header-menu ul {
    display: flex;
    justify-content: flex-end;
}
.header-menu li {
    margin: 0 22px;
}